<!--base.html-->

<html>
    <head>
        <title>Puppy Playdate</title>
        <link rel="stylesheet"
        href="http://cs-people.bu.edu/katlau/templated-visualize/assets/css/main.css">
    </head>
    <body>
        <header>
            <a href="{% url 'show_all_pets' %}">All Pets</a>
            <a href="{% url 'create_owner_form' %}">Create Owner Profile</a>
            <a href="{% url 'create_pet_form' %}">Create Pet Profile</a>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>