<!--file: project/home.html
    author: Katrina Lau (katlau@bu.edu)
    description: Puppy Playdate home page -->

{% extends 'project/base.html' %}
{% block content %}

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1600px;margin-top:100px">

  
    <hr id="about">
  
    <!-- About Section -->
    <div class="w3-container w3-padding-32 w3-center">  
      <h3>Welcome to Puppy Playdate!</h3><br>
      <img src="/media/Puppy Playdate.jpg" class="w3-image" style="display:block;margin:auto" width="800" height="533">
      <div class="w3-padding-32">
        <h4><b>Puppy Playdate</b></h4>
        <h6><i>Where Your Furry Friends Can Find New Friends</i></h6>
        <p>We give our pets all the love they deserve, but sometimes what they need is to run around with another four-legged friend. 
          Look no further, as Puppy Playdate provides an easy way for you to find the perfect companion for your pet! Our site allows 
          you to find other pets also looking for someone to play with. Look through their profile to see their photos, bio, and information.
          When you have found the perfect buddy for your pet, schedule a playdate with them at your local park! After your playdate, feel free to leave
          a review of the playdate for future companions to know how your experience was. </p>
    </div>
    <hr>

    {% endblock %}