<!--show_all_pets.html-->
{% extends 'project/base.html' %}
{% block content %}

<!-- !PAGE CONTENT! -->

<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
    <h1 style="text-align: center;">All Pets</h1>
            {% for pet in pets %}
            <style>
                .columns > div{
                        width: 300px;
                        height:600px;
                        display:inline-block;
                        float:left;
                        margin-right: 40px;
                        align-content: center;
                        text-align: center;
                        justify-content: center;
                      }
                      </style>
                <div class="columns">
                   <div> <a href="{% url 'show_pet_page' pet.pk %}"><img src="{{pet.image.url}}" style="max-width: 200px;"></a>
                <h3><a href="{% url 'show_pet_page' pet.pk %}">{{pet.name}}</a></h3>
                <p>Breed: {{pet.breed}}</p>
                <p>About Me: {{pet.blurb}}</p>
                <p>Pet Owner: <a href="{% url 'show_owner_page' pet.owner.pk %}">{{pet.owner}}</a></p>
                </div></div>
            {% endfor %}
     

    <!-- First Photo Grid--> <!--
    {% for pet in pets %}
    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
      <div class="w3-quarter">
        <a href="{% url 'show_pet_page' pet.pk %}"><img src="{{pet.image.url}}" style="width:100%"></a>
        <h3><a href="{% url 'show_pet_page' pet.pk %}">{{pet.name}}</a></h3>
        <p>Breed: {{pet.breed}}</p>
        <p>About Me: {{pet.blurb}}</p>
        <p>Pet Owner: <a href="{% url 'show_owner_page' pet.owner.pk %}">{{pet.owner}}</a></p>
      </div>
    </div>
{% endfor %}
-->
{% endblock %}

