<!--show_playdate_review.html-->
{% extends 'project/base.html' %}
{% block content %}

<header>
    <a href="{% url 'show_playdate_page' review.pk %}">Playdate</a>
</header>

<h3>Playdate Review</h3>

<table>
    <tr>
        <td>{{review.playdate}}</td>
    </tr>
    <tr>
        <td>{{review.owner}}</td>
    </tr>
    <tr>
        <td>{{review.timestamp}}</td>
        <td>{{review.message}}</td>
    </tr>
    <tr>
        <td><a href= "{% url 'delete_review' review_pk=review.pk playdate_pk=review.playdate.pk %}">Delete Review</a></td>
    </tr>
</table>


{% endblock %}