<!--show_all_playdates.html-->
{% extends 'project/base.html' %}
{% block content %}
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
<h2>Playdates</h2>

{% for playdate in playdates %}
<table>
    <tr>
        <td>Playdate Location: {{playdate.location}}</td>
    </tr>
    <tr>
        <td>Playdate Time: {{playdate.time}}</td>
    </tr>
    <tr>
        <td><a href="{% url 'show_playdate_page' playdate.pk %}">Playdate Details</a></td>
    </tr>
</table>
</div>

{% endfor %}
{% endblock %}