<!--show_all_pets.html-->
{% extends 'project/base.html' %}
{% block content %}

<h1>All Pets</h1>
{% for pet in pets %}
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
      <div class="w3-quarter">
        <img src="{{pet.image.url}}" style="width:100%">
        <h3><a href="{% url 'show_pet_page' pet.pk %}">{{pet.name}}</a></h3>
        <p>Breed: {{pet.breed}}</p>
        <p>About Me: {{pet.blurb}}</p>
        <p>Pet Owner: <a href="{% url 'show_owner_page' pet.pk %}">{{pet.owner}}</a></p>
      </div>
    </div>
{% endfor %}

{% endblock %}

