<!--show_pet_page.html-->
{% extends 'project/base.html' %}
{% block content %}

<h2>{{pet.name}}</h2>
<h3>{{pet.owner}}'s pet</h3>

<img src="{{pet.image.url}}" style="max-width: 400;">

<table>
    <tr>
        <td>Breed: {{pet.breed}}</td>
    </tr>
    <tr>
        <td>Age: {{pet.age}}</td>
    </tr>
    <tr>
        <td>About Me: {{pet.blurb}}</td>
    </tr>
    <tr>
        <td>Contact My Owner: <a href="{% url 'show_owner_page' pet.pk %}">{{pet.owner}}</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'show_all_playdates' %}">{{pet.name}}'s Playdates</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'create_playdate_form' %}">Plan a Playdate</a></td>
    </tr>
</table>

{% endblock %}