<!--show_profile_page.html-->
{% extends 'mini_fb/base.html' %}
{% block content %}


<h1>{{profile.first_name}} {{profile.last_name}}</h1>
<img src="{{profile.image_url}}" style="max-width: 400;">
<table>
    <tr>
<td>{{profile.email}}</td>
    </tr>
    <tr>
<td>{{profile.city}}</td>
</tr>
<h4><a href="{% url 'update_profile_form' profile.pk %}">Edit this profile</a>
    <a href="{% url 'show_news_feed' profile.pk %}">News Feed</a>
    <a href="{% url 'show_possible_friends' profile.pk %}">Find Friends</a></h4>
</table>

<h2>Status Messages</h2>
<table>
<tr>
{% for statusmessage in profile.get_status_messages %}
    <th>Time</th>
    <td></td>
    <th>Message</th>
    <td></td>
</tr>
<tr>
    <td>{{statusmessage.timestamp}}</td> 
    <td></td>
    <td>{{statusmessage.message}}</td>
    <td></td>
    <td>{% if statusmessage.image %}
        <img src='{{statusmessage.image.url}}' style='max-width: 100;'>
        {% endif %}
        <a href= "{% url 'delete_status' profile_pk=profile.pk status_pk=statusmessage.pk %}">delete</a></td>
</tr>
{% endfor %}
</table>

<h2>{{profile.first_name}} {{profile.last_name}}'s Friends</h2>
<table>
    <tr>
        {% for friends in profile.get_friends %}
        <td><img src="{{friends.image_url}}" style="max-width: 100;"></td>
        <td>{{friends.first_name}} {{friends.last_name}}</td>
        <td><a href="{% url 'show_profile_page' friends.pk %}">{{friends.first_name}}'s Profile</a></td>
    </tr>
    {% endfor %}
</table>

<h2>Post a status message</h2>
<form method="POST" enctype="multipart/form-data" action="{% url 'post_status' profile.pk %}">
    {% csrf_token %}
<table>
    {{create_status_form}}
    <tr>
        {% if statusmessage.image %}
        <img src='{{statusmessage.image.url}}' style='max-width: 100;'>
        {% endif %}
        <td><input type="submit" value="Share"></td>
    </tr>
</table>
</form>

{% endblock %}